.gitignore
.DS_Store
.pytest_cache/
*.ipynb
*.ipynb_checkpoints
node_modules/
npm-debug.log
dist/
build/
coverage/
*.swp
*.swo
*.bak
*.tmp
yarn-error.log
yarn.lock
pnpm-lock.yaml
.eslintcache
.next/
.npmrc
.npm/